.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainBody {
  width: 80%;
  margin: 0 auto;
}
.loginForm {
  width: 40%;
  margin: 0 auto;
}

.rowImmediateAtt {
  margin: 10px;
}

.errorMessage {
  color: red;
  font-size: 0.99em;
  display: relative;
}

.spaceInputNote {
  width: 90%;
}
.inputSearch {
  width : 70%
}
.patientSearch {
  display:inline-block;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
