.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainBody {
  width: 80%;
  margin: 0 auto;
}
.loginForm {
  width: 40%;
  margin: 0 auto;
}

.rowWarnings {
  margin: 10px;
}

.errorMessage {
  color: red;
  font-size: 0.99em;
  display: relative;
}

.spaceInputNote {
  margin-top: 10px;
  width: 100%;
  word-wrap: break-word;
}
.inputSearch {
  width : 70%
}
.patientSearch {
  display:inline-block;
}
.viewAllDoctorNotesButton {
  width: 100%
}
ol li {
  color: blue;
  font-weight: bold;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.errorMessage {
  color: red;
  font-size: 0.99em;
  display: relative;
}
.errorMessageS {
  color: lawngreen;
  font-size: 0.99em;
  display: relative;
}
.doctorPicture {
  width: 100%;
  height: 200px;
  background-color: cadetblue;
    content: "Stay home, Stay safe...";
    font-size: 60px;
    color: aliceblue;
    font-style: italic;
    padding-left: 40px;
    padding-top: 60px;
  margin-top: 50px;
}
