doctype html
html(lang= "en")
    head
        title Pandemic Health HomePort
    body
        block content
    footer
        p(style="text-align:center;") 
            i Humble AD410-Group-F Production
