doctype html
html(lang= "en")
    head
        title Pandemic Health HomePort
    body
        h1 Pandemic Health HomePort
            h3 "Your one stop remote healtcare app"
        block content
    footer
        p
            i Humble AD410-Group-F Production
