extends layout
block content  
    h3 Welcome Doc, Please Login!

    form(action= 'provider-login', method= 'post')
        label Email:
            input(type= 'text', name= 'email')
        label Password:
            input(type= 'text', name= 'password')
        button(type= 'submit') LOGIN